{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
    {{ judul }} Barang
{% endblock title %}

{% block css %}
    <link href="{% static 'css/display_barang.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/form_create_barang.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}


{% block content %}
    <div class="py-5 text-center section-dark">
        <div class="container">
            <div class="row">
                <div class="bg-white p-5 my-5 mx-auto col-12 col-md-12">
                    <h1 class="mb-4 text-primary">Form {{ judul }} Barang</h1>
                    <form method="post">
                    {% csrf_token %}
                        <h5 style="color: black; text-align: left; font-weight: bold">Detail Barang</h5>
                        {% for field in barang %}
                            <div class="form-group row">
                                <label style="text-align: left; color: black" class="col-sm-3 col-form-label">{{ field.label }}</label>
                                <div class="input-group col-sm-9">
                                    {{ field.as_widget }}
                                    {% if field.label == 'Lama Penggunaan' %}
                                    <div class="input-group-append">
                                        <label class="input-group-text">bulan</label>
                                    </div>
                            {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        <h5 style="color: black; text-align: left; font-weight: bold">Info Barang</h5>
                        {% for field in info %}
                            <div class="form-group row">
                                <label style="text-align: left; color: black" class="col-sm-3 col-form-label">{{ level.pop }}</label>
                                <div class="col-sm-9">
                                    <div class="form-row">
                                        <div class="col-sm-4 input-group">
                                            {{ field.porsi_royalti }}
                                            <div class="input-group-append">
                                                <label class="input-group-text">%</label>
                                            </div>
                                        </div>
                                        <div class="col input-group">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text">Rp.</label>
                                            </div>
                                            {{ field.harga_sewa }}
                                            <div class="input-group-append">
                                                <label class="input-group-text">/ minggu</label>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {{ info.management_form }}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block script %}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
     <script type="text/javascript">
            $(function() {
                $('.formset').formset({
                    prefix: '{{ info.prefix }}'
                });
            })
        </script>

{% endblock script %}