{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
    Detail Barang
{% endblock title %}

{% block css %}
    <link href="{% static 'css/display_barang.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/form_create_barang.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/review.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}


{% block content %}
    <div class="py-5 text-center section-dark">
        <div class="container">
            <div class="row">
                <div class="bg-white p-5 my-5 mx-auto col-12 col-md-12">
                    <h1 class="mb-4 text-primary">Detail Barang</h1>
                    {% csrf_token %}
                    <form action="{% url 'pesanan:pesanan_anggota' %}">
                        {% for field in barang %}
                            <div class="form-group row">
                                <label style="text-align: left; color: black" class="col-sm-3 col-form-label">{{ field.label }}</label>
                                <div class="input-group col-sm-9">
                                    {{ field.as_widget }}
                                    {% if field.label == 'Lama Penggunaan' %}
                                    <div class="input-group-append">
                                        <label class="input-group-text">bulan</label>
                                    </div>
                            {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        <h5 style="color: black; text-align: left; font-weight: bold">Info Barang</h5>
                        {% for field in info %}
                            <div class="form-group row">
                                <label style="text-align: left; color: black" class="col-sm-3 col-form-label">{{ level.pop }}</label>
                                <div class="col-sm-9">
                                    <div class="form-row">
                                        <div class="col-sm-4 input-group">
                                            {{ field.porsi_royalti }}
                                            <div class="input-group-append">
                                                <label class="input-group-text">%</label>
                                            </div>
                                        </div>
                                        <div class="col input-group">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text">Rp.</label>
                                            </div>
                                            {{ field.harga_sewa }}
                                            <div class="input-group-append">
                                                <label class="input-group-text">/ minggu</label>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <h5 style="color: black; text-align: left; font-weight: bold">Review</h5>
                        <div id="message" style="margin-top: 20px">
                            {% if review %}
                                {% for r in review %}
                                <div class="message-child" id="{{ forloop.counter }}">
                                    <div class= "container">
                                        <div class="message-content">
                                            <p>{{ r.0 }}</p>
                                        </div>
                                        <div class="message-date">
                                            <p style="font-style: italic; font-size: 12px">Ditulis pada {{ r.1 }}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            {% else %}
                                <p style="color: black; font-style: italic; text-align: left">Belum ada review</p>
                            {% endif %}
                        </div>
                        {{ info.management_form }}
                        <button class="btn btn-primary">Pesan</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block script %}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
     <script type="text/javascript">
            $(function() {
                $('.formset').formset({
                    prefix: '{{ info.prefix }}'
                });
            })
        </script>

{% endblock script %}