{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
    Barang
{% endblock title %}

{% block css %}
    <link href="{% static 'css/display_barang.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/checkbox.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/sort_filter_script.js' %}" rel="script" type="text/javascript"></script>
{% endblock css %}

{% block content %}
    <div class="py-5 text-center section-dark">
        <div class="container">
            <div class="row">
                <div class="bg-white p-5 my-5 mx-auto col-12 col-md-12">
                    <h1 class="mb-4 text-primary">Daftar Barang</h1>
                    <form class="mb-3" method="GET">
                        <div class="form-row align-items-center justify-content-center">
                            <div class="col-sm-3 my-1">
                                <select class="custom-select" id="sort-field" name="sort">
                                    <option {% if sort == 'id_barang' %}selected{% endif %} value="">Sort by</option>
                                    <option {% if sort == 'nama_item' %}selected{% endif %} value="nama_item">Nama</option>
                                    <option {% if sort == 'warna' %}selected{% endif %} value="warna">Warna</option>
                                </select>
                            </div>
                            <div class="col-sm-3 my-1">
                                <select class="custom-select" id="filter-field" name="filter">
                                    <option selected value="">Filter by</option>
                                    {% for k in kategori %}
                                        <option {% if filter == k.nama %}selected{% endif %} value="{{ k.nama }}">{{ k.nama }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table class="table mt-4">
                            <thead class="text-dark">
                                <tr>
                                    <th>ID Barang</th>
                                    <th>Nama Barang</th>
                                    <th>Warna</th>
                                    <th>Kondisi</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class="text-muted">
                                {% for i in barang %}
                                <tr>
                                    <td>{{ i.id }}</td>
                                    <td>{{ i.nama }}</td>
                                    <td>{{ i.warna }}</td>
                                    <td>{{ i.kondisi }}</td>
                                    <td>
                                    {% if request.session.role == 'admin' %}
                                        <div class="pi-draggable btn-group" draggable="true">
                                            <a href="{% url 'barang:detail_barang' id=i.id %}" class="btn btn-primary">Detail</a>
                                            <a href="{% url 'barang:update_barang' id=i.id %}" class="btn btn-warning">Update</a>
                                            <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#deletePopUp{{ forloop.counter }}">Delete</a>
                                        </div>
                                        <div class="modal fade" id="deletePopUp{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="deletePopUp" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header d-flex justify-content-center">
                                                        <h3 class="modal-title">Delete</h3>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div>Apakah anda yakin ingin menghapus barang ini?</div>
                                                        <div class="d-flex justify-content-center m-3">
                                                            <div class="pi-draggable btn-group mr-2" draggable="true"> <a href="{% url 'barang:delete_barang' id=i.id %}" class="btn btn-danger">Iya</a></div>
                                                            <div class="pi-draggable btn-group" draggable="true"> <a href="#" class="btn btn-primary" data-dismiss="modal">Tidak</a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                            <div class="pi-draggable btn-group" id="tombol-detail" draggable="true">
                                                <a href="{% url 'barang:detail_barang' id=i.id %}" class="btn btn-primary">Detail</a>
                                            </div>
                                            <div class="form-group row" style="margin-bottom: auto">
                                                <div class="col-sm-8">
                                                    <input type="checkbox" name="checkboxes{{ forloop.counter }}" id="{{ forloop.counter }}" autocomplete="off"/>
                                                    <div class="btn-group">
                                                        <label for="{{ forloop.counter }}" class="btn btn-link">
                                                            <span class="fa fa-check-square-o fa-lg"></span>
                                                            <span class="fa fa-square-o fa-lg"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                    {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <nav>
                            <ul class="pagination justify-content-center mt-3" id="page-field">
                                {% for p in pages %}
                                    <li class="page-item">
                                        <button class="page-link {% if page == p %}text-white bg-info{% else %}text-info{% endif %}">{{ p }}</button>
                                    </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}