.py-5 {
    background-image: url("https://stmed.net/sites/default/files/toy-wallpapers-28949-7834227.jpg");
    background-size: cover;
    background-position: top left;
    background-repeat: repeat;
}

#tombol-detail {
    display: inline;
    float: left;
}
