/* Style the form - display items horizontally */
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

/* Add some margins for each label */
.form-inline label {
    margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

/* Style the submit button */
.form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
}

.form-inline button:hover {
    background-color: royalblue;
}

#nama_item, #no_ktp_penyewa {
    padding-left: 0.8rem;
    color: #6C757D;
}

#nama_level {
    width: 100px;
}

#harga_sewa {
    display: inline;
    width: 150px;
    float: left;
}

#porsi_royalti {
    display: inline;
    width: 60px;
    float: right;
}

.nama_level {
    color: black;
    font-size: 16px;
    text-align: left;
    margin-bottom: 0px;
}

textarea {
    resize: none;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
    .form-inline input {
        margin: 10px 0;
    }

    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }
}