.message-child {
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    background-color: #fcfcfc;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    box-shadow: 10px 10px 0px rgba(0,0,0,0.1);
}
