{% extends 'layout/base.html' %} {% load static %} {% block content %}


<!-- Parallax section -->
<div class="py-5 text-center section-dark" id="formpesanan">
    <div class="container">
        <div class="row">
            <div class="bg-white p-5 my-5 mx-auto col-12 col-md-12">
                <h1 class="mb-4 text-primary">Daftar Pemesanan</h1>
                <div class="btn-group">
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Sort by </button>
                    <div class="dropdown-menu"> <a class="dropdown-item" href="#">ID Pemesanan</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Tanggal Pengiriman</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table mt-4">
                        <thead class="text-dark">
                            <tr>
                                <th>ID Pemesanan</th>
                                <th>Daftar Barang</th>
                                <th>Harga</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-muted">
                            {% for tuple in daftar_pesanan_admin %}
                            <tr>
                                <td>{{ tuple.0 }}</td>
                                <td>
                                    {% for item in tuple.3 %}
                                    <li>{{item}}</li>
                                    {% endfor %}
                                </td>
                                <td>{{tuple.1}}</td>
                                <td>{{tuple.2}}</td>
                                <td>
                                    <div class="pi-draggable btn-group" draggable="true"> <a href="{% url 'pesanan:update_pesanan' %}" class="btn btn-primary">Update</a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#"> <span>«</span></a>
                    </li>
                    <li class="page-item   active"> <a class="page-link" href="#">1</a> </li>
                    <li class="page-item"> <a class="page-link" href="#">2</a> </li>
                    <li class="page-item"> <a class="page-link" href="#">3</a> </li>
                    <li class="page-item"> <a class="page-link" href="#">4</a> </li>
                    <li class="page-item">
                        <a class="page-link" href="#"> <span>»</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript dependencies -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"></script>
<!-- Script: Smooth scrolling between anchors in the same page -->
<script src="js/smooth-scroll.js"></script>

{% endblock content %}