{% extends 'layout/base.html' %} {% load static %} {% block title %} Homepage {% endblock title %} {% block css %}

<link href="{% static 'css/pesanan.css' %}" rel="stylesheet" type="text/css"> {% endblock css %} {% block content %}

<!-- Parallax section -->
<div class="py-5 text-center section-dark" id="formpesanan">
    <div class="container">
        <div class="row">
            <div class="bg-white p-5 my-5 mx-auto col-6 col-md-7" style="">
                <h1 class="mb-4 text-primary">Buat Pesanan</h1>
                <form>
                    <div class="form-group"><label class="text-muted text-left">Anggota</label>
                        <select class="custom-select">
                            <option selected="">Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="form-group"><label class="text-muted">Barang (tekan shift untuk multi-select)</label>
                        <select multiple class="form-control" id="sel2">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group"><label class="text-muted">Lama Sewa</label>
                        <textarea class="form-control" id="exampleTextarea" rows="1"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>


                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}