{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
    Tambah Barang
{% endblock title %}

{% block css %}
    <link href="{% static 'css/display_barang.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/form_create_barang.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}


{% block content %}
  <div class="py-5 text-center section-dark" style="  background-image: url(&quot;https://www.smeportal.sg/content/tech-depot/en/tech-solutions/data-analytics/collection-delivery-management-system-cdms/_jcr_content/topContent/image.img.jpg/1520986706766.jpg&quot;); background-size: cover; background-position: top left;  background-repeat: repeat;">
    <div class="container">
      <div class="row">
        <div class="bg-white p-5 my-5 mx-auto col-6 col-md-7" style="">
          <h1 class="mb-4 text-primary">Tulis Review</h1>
          
          <form method="POST" action="{% url 'pengiriman:add_review' %}">
            {% csrf_token %}
            {% for field in review %}
              <div class="form-group">
                <div class="input-group">
                  {{ field.as_widget }}
                </div>
              </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}