<!DOCTYPE html>
{% extends 'layout/base.html' %}

{% load static %}
{% load staticfiles %}

{% block title %}
Pengiriman
{% endblock title %}

{% block css %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- PAGE settings -->
<meta name="description" content="Toys rent E9">
<meta name="keywords" content="Hehehe">
<!-- CSS dependencies -->
<link href="{% static 'aquamarine.css' %}" rel="stylesheet" type="text/css">
<!-- Script: Make my navbar transparent when the document is scrolled to top -->
<script src="{% static 'navbar-ontop.js' %}"></script>
<!-- Script: Animated entrance -->
<script src="{% static 'animate-in.js' %}"></script>

{% endblock css %}

{% block content %}

<body class="h-100 w-100">

  <!-- Action From-->
  <!-- Modal Login-->
  <!-- Content -->
  <!-- Cover -->
  <!-- Parallax section -->
  <div class="py-5 text-center section-dark" style="	background-image: url(&quot;https://www.smeportal.sg/content/tech-depot/en/tech-solutions/data-analytics/collection-delivery-management-system-cdms/_jcr_content/topContent/image.img.jpg/1520986706766.jpg&quot;);	background-size: cover;	background-position: top left;	background-repeat: repeat;">
    <div class="container">
      <div class="row">
        <div class="bg-white p-5 my-5 mx-auto col-12 col-md-12" style="">
          <h1 class="mb-4 text-primary">Daftar Pengiriman</h1>
          <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Sort by </button>
            <div class="dropdown-menu"> <a class="dropdown-item" href="#">ID Pengirman</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Tanggal Pengiriman</a>
            </div>
          </div>
          <div class="table-responsive" style="">
            <table class="table mt-4">
              <thead class = "text-dark">
                <tr>
                  <th>ID Pengiriman</th>
                  <th>Daftar Barang - ID Pemesanan</th>
                  <th>Harga Total</th>
                  <th>Tanggal Pengiriman</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody class = "text-muted">
                {% for i in item %}
                <tr class = "h-100">
                  <td class="align-middle">{{ i.no_resi }}</td>
                  <td class="align-middle">{{ i.daftarbp }}</td>
                  <td class="align-middle">{{ i.hargatotal }}</td>
                  <td class="align-middle">{{ i.tgl }}</td>
                  
                  <td>

                    <div class="pi-draggable btn-group" draggable="true">
                        <a href="{% url 'pengiriman:update_pengiriman' id=i.no_resi %}" class="btn btn-primary">Update</a>
                        {% if request.session.role == 'anggota' %}
                        <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#deletePopUp{{ forloop.counter }}">Delete</a>
                        <a href="{% url 'pengiriman:add_review' %}" class="btn btn-primary">Tulis Review</a>
                        {% endif %}
                    </div>
                    <div class="modal fade" id="deletePopUp{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="deletePopUp" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header d-flex justify-content-center">
                            <h3 class="modal-title">Delete</h3>
                          </div>
                          <div class="modal-body">
                            <div>Apakah anda yakin ingin menghapus pengiriman ini?</div>
                              <div class="d-flex justify-content-center m-3">
                                <div class="pi-draggable btn-group mr-2" draggable="true"> <a href="{% url 'pengiriman:delete_pengiriman' id=i.no_resi %}" class="btn btn-danger">Iya</a></div>
                                  <div class="pi-draggable btn-group" draggable="true"> <a href="#" class="btn btn-primary">Tidak</a></div>
                                  </div>
                                </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                  </td>
                  
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <ul class="pagination">
            <li class="page-item"> <a class="page-link" href="#"> <span>«</span></a> </li>
            <li class="page-item active"> <a class="page-link" href="#">1</a> </li>
            <li class="page-item"> <a class="page-link" href="#">2</a> </li>
            <li class="page-item"> <a class="page-link" href="#">3</a> </li>
            <li class="page-item"> <a class="page-link" href="#">4</a> </li>
            <li class="page-item"> <a class="page-link" href="#"> <span>»</span></a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
 
{% endblock content %}