{% extends 'layout/base.html' %} {% load static %} {% block title %} Level {% endblock title %} {% block css %}

<link href="{% static 'css/level.css' %}" rel="stylesheet" type="text/css"> {% endblock css %} {% block content %}

<!-- Parallax section -->
<div class="py-5 text-center section-dark" id="formlevel">
    <div class="container">
        <div class="row">
            <div class="bg-white p-5 my-5 mx-auto col-6 col-md-7" style="">
                <h1 class="mb-4 text-primary">Tambah Level</h1>
                <form>
                    <div class="form-group"><label class="text-muted text-left">Nama Level</label>
                        <textarea class="form-control" id="exampleTextarea" rows="1"></textarea>
                    </div>
                    <div class="form-group"><label class="text-muted">Minimum Poin</label>
                        <textarea class="form-control" id="exampleTextarea" rows="1"></textarea>
                    </div>
                    <div class="form-group"><label class="text-muted">Deskripsi</label>
                        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>


                </form>
            </div>
        </div>
    </div>
</div>


<footer class="text-md-left text-center p-4 bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="my-3 col-lg-4 col-md-6">
                <h3>Toys Rent E9</h3>
                <p class="text-muted">May 2019</p>
                <p class="my-3">Fakultas Ilmu Komputer<br>Universitas Indonesia</p>
                <a class="btn btn-lg btn-primary" href="#">Register now</a>
            </div>
            <div class="my-3 col-lg-4 col-md-6">
                <h3>Reach us!</h3>
                <form>
                    <fieldset class="form-group my-3">
                        <input type="email" class="form-control" id="Input Email" placeholder="Email"> </fieldset>
                    <fieldset class="form-group my-3">
                        <input type="message" class="form-control" id="Input Message" placeholder="Message"> </fieldset>
                    <button type="submit" class="btn btn-outline-primary">Submit</button>
                </form>
            </div>
            <div class="col-lg-1"> </div>
            <div class="my-3 col-lg-3">
                <h3>Follow</h3>
                <a href="https://www.facebook.com" target="blank"><i class="fa fa-facebook-square text-muted fa-3x m-2"></i></a>
                <a href="https://www.instagram.com" target="blank"><i class="fa fa-3x fa-instagram text-muted m-2"></i></a>
                <a href="https://twitter.com" target="blank"><i class="fa fa-3x fa-twitter m-2 text-muted"></i></a>
                <a href="https://plus.google.com" target="blank"><i class="fa fa-3x fa-google-plus-official text-muted m-2"></i></a>
                <a href="https://pinterest.com" target="blank"><i class="fa fa-3x text-muted fa-pinterest-p m-2"></i></a>
                <a href="https://www.youtube.com" target="blank"><i class="fa fa-3x text-muted fa-youtube-play m-2"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-muted">© Copyright 2019 E9 - All rights reserved. </p>
            </div>
        </div>
    </div>
</footer>

{% endblock content %}