{% extends 'layout/base.html' %} {% load static %} {% block content %}


<!-- Parallax section -->
<div class="py-5 text-center section-dark" id="formlevel">
    <div class="container">
        <div class="row">
            <div class="bg-white p-5 my-5 mx-auto col-12 col-md-12">
                <h1 class="mb-4 text-primary">Daftar Level</h1>
                <div class="table-responsive">
                    <table class="table mt-4">
                        <thead class="text-dark">
                            <tr>
                                <th>No.</th>
                                <th>Nama Level</th>
                                <th>Deskripsi</th>
                                <th>Minimum Poin</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-muted">
                            {% for nama_level, deskripsi, minimum_poin in level %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td contenteditable="true">{{nama_level}}</td>
                                <td>{{deskripsi}}</td>
                                <td>{{minimum_poin}}</td>
                                <td>
                                    <div class="pi-draggable btn-group" draggable="true"> <a href="/level/update_level" class="btn btn-primary">Update</a>
                                        <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#deletePopUp">Delete</a></div>

                                    <div class="pi-draggable btn-group" draggable="true"></div>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td>2</td>
                                <td>
                                    GOLD
                                </td>
                                <td>Level Menengah Atas</td>
                                <td>100</td>
                                <td>
                                    <a type="button" class="btn btn-primary" href="/level/update_level">Update</a>
                                    <button type="button" class="btn btn-danger">Delete</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<!--DELETE-->
<div class="modal fade" id="deletePopUp" tabindex="-1" role="dialog" aria-labelledby="deletePopUp" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h3 class="modal-title">Delete</h3>
            </div>
            <div class="modal-body">
                <div>Apakah anda yakin ingin menghapus level ini?</div>
                <div class="d-flex justify-content-center m-3">
                    <div class="pi-draggable btn-group mr-2" draggable="true"> <a href="#" class="btn btn-danger">Iya</a></div>
                    <div class="pi-draggable btn-group" draggable="true"> <a href="#" class="btn btn-primary">Tidak</a></div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>






<!-- JavaScript dependencies -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"></script>
<!-- Script: Smooth scrolling between anchors in the same page -->
<script src="js/smooth-scroll.js"></script>
{% endblock content %}