{% extends 'layout/base.html' %} {% load static %} {% block content %}
<!-- Parallax section -->
<div class="py-5 text-center section-dark" id="formlevel">
    <div class="container">
        <div class="row">
            <div class="bg-white p-5 my-5 mx-auto col-6 col-md-7" style="">
                <h1 class="mb-4 text-primary" contenteditable="true">Update Level</h1>
                <form>
                    <div class="form-group"><label class="text-muted text-left" contenteditable="true">Nama Level</label><select class="custom-select">
                  <option selected="" value="Open this select men">Gold</option>
                  <option value="1">Silver</option>
                  <option value="2">Bronze</option>
                  <option value="3">Red</option>
                </select></div>
                    <div class="form-group"><label class="text-muted text-left">Minimum Poin</label><select class="custom-select">
                  <option selected="">1000</option>
                  <option value="1">2000</option>
                  <option value="2">3000</option>
                  <option value="3">4000</option>
                </select></div>

                    <div class="form-group"><label class="text-muted">Deskripsi</label>
                        <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Level Tertinggi"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Speakers -->
<!-- Schedule -->
<!-- Sponsor logos -->
<!-- Call to action -->
<!-- Footer -->
<footer class="text-md-left text-center p-4 bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="my-3 col-lg-4 col-md-6">
                <h3>Toys Rent E9</h3>
                <p class="text-muted">May 2019</p>
                <p class="my-3">Fakultas Ilmu Komputer<br>Universitas Indonesia</p>
                <a class="btn btn-lg btn-primary" href="#">Register now</a>
            </div>
            <div class="my-3 col-lg-4 col-md-6">
                <h3>Reach us!</h3>
                <form>
                    <fieldset class="form-group my-3">
                        <input type="email" class="form-control" id="Input Email" placeholder="Email"> </fieldset>
                    <fieldset class="form-group my-3">
                        <input type="message" class="form-control" id="Input Message" placeholder="Message"> </fieldset>
                    <button type="submit" class="btn btn-outline-primary">Submit</button>
                </form>
            </div>
            <div class="col-lg-1"> </div>
            <div class="my-3 col-lg-3">
                <h3>Follow</h3>
                <a href="https://www.facebook.com" target="blank"><i class="fa fa-facebook-square text-muted fa-3x m-2"></i></a>
                <a href="https://www.instagram.com" target="blank"><i class="fa fa-3x fa-instagram text-muted m-2"></i></a>
                <a href="https://twitter.com" target="blank"><i class="fa fa-3x fa-twitter m-2 text-muted"></i></a>
                <a href="https://plus.google.com" target="blank"><i class="fa fa-3x fa-google-plus-official text-muted m-2"></i></a>
                <a href="https://pinterest.com" target="blank"><i class="fa fa-3x text-muted fa-pinterest-p m-2"></i></a>
                <a href="https://www.youtube.com" target="blank"><i class="fa fa-3x text-muted fa-youtube-play m-2"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-muted">© Copyright 2019 E9 - All rights reserved. </p>
            </div>
        </div>
    </div>
</footer>
<!-- JavaScript dependencies -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"></script>
<!-- Script: Smooth scrolling between anchors in the same page -->
<script src="js/smooth-scroll.js"></script>

{% endblock content %}