{% extends 'layout/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}"/>
{% endblock css %}
{% block content %}
    <div class="py-5 text-center section-dark">
        <div class="container">
            <div class="row">
                <div class="bg-white p-5 my-5 mx-auto col-12 col-md-12">
                    <div class="list-page">
                        <h1 class="mb-4 text-primary">Daftar Chat</h1>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                   <th>User</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for c in chats %}
                                    <tr>
                                        <td><a style="float: left" href="{% url 'chat:chat' %}?user-ktp={{ c.1.0 }}">{{ c.0.0 }}</a> </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
