
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Toys Rent -
        {% block title %}
        <!-- Tulis judul pagenya disini -->
        {% endblock title %}
    </title>

    {% include 'partials/source.html' %}

    {% block css %}
    <!-- import css di sini -->
    {% endblock css %}

    {% block js %}
    <!-- import js di sini, jangan lupa gunakan super.block -->
    {% endblock js%}

</head>

<body>
    <header>
        {% include 'partials/header.html' %}
    </header>

    <content>
        {% block content %}
            <!-- Implement kontennya disini -->
        {% endblock content %}
    </content>

    {% include 'partials/footer.html' %}

{% block script %}

{% endblock script %}
</body>
</html>