<!DOCTYPE html>
{% extends 'layout/base.html' %}

{% load static %}
{% load staticfiles %}

{% block title %}
Item
{% endblock title %}

{% block css %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- PAGE settings -->
<meta name="description" content="Toys rent E9">
<meta name="keywords" content="Hehehe">
<!-- CSS dependencies -->
<link href="{% static 'aquamarine.css' %}" rel="stylesheet" type="text/css">
<!-- Script: Make my navbar transparent when the document is scrolled to top -->
<script src="{% static 'navbar-ontop.js' %}"></script>
<!-- Script: Animated entrance -->
<script src="{% static 'animate-in.js' %}"></script>

{% endblock css %}

{% block content %}

<body class="h-100 w-100">

  <!-- Action From-->
  <!-- Modal Login-->
  <!-- Content -->
  <div class="py-5 text-center section-dark" style="  background-image: url(&quot;https://www.smeportal.sg/content/tech-depot/en/tech-solutions/data-analytics/collection-delivery-management-system-cdms/_jcr_content/topContent/image.img.jpg/1520986706766.jpg&quot;); background-size: cover; background-position: top left;  background-repeat: repeat;">
    <div class="container">
      <div class="row">
        <div class="bg-white p-5 my-5 mx-auto col-12 col-md-12" style="">
          <h1 class="mb-4 text-primary">Daftar Item</h1>
          <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Sort by </button>
            <div class="dropdown-menu"> <a class="dropdown-item" href="#">ID Pengirman</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Tanggal Pengiriman</a>
            </div>
          </div>
          <div class="table-responsive" style="">
            <table class="table mt-4">
              <thead class = "text-dark">
                <tr>
                  <th>No</th>
                  <th>Nama Item</th>
                  <th>Kategori</th>
                  {% if false%}
                    <th>Action</th>
                  {% else %}
                    <th>Action</th>
                    <th>Action</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody class = "text-muted">
                {% for i in item %}
                  <tr class="h-100">
                    <td class="align-middle">{{ i.nomor }}</td>
                    <td class="align-middle">{{ i.nama }}</td>
                    <td class="align-middle">{{ i.kategori }}</td>
                    {% if request.session.role == 'anggota' %}
                      <td>
                        <div class="pi-draggable btn-group" draggable="true"> <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#viewPopUp">View</a></div>
                      </td>
                    {% else %}
                      <div class="btn-group">
                        <td style="vertical-align: middle">
                          <div class="pi-draggable btn-group" draggable="true"> <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#viewPopUp">View</a></div>
                        </td>
                        <td class="btn-group-vertical">
                          <div class="pi-draggable button-group" role="group" draggable="true">

                            <!--INSERT DATA - FALSE-->
                            <form class="mb-1" action="{% url 'barang:create_barang' %}">
                              <button class="btn btn-primary">Insert</button>
                            </form>
                            
                            
                            <!--UPDATE DATA-->
                            <form class="mb-1" action="{% url 'item:pilih_item' nama=i.nama %}">
                              <button class="btn btn-warning">Update</button>
                            </form>

                            
                            <!--DELETE DATA-->
                            <form class="mb-1" action="#">
                              <button class="btn btn-danger" data-toggle="modal" data-target="#deletePopUp{{ forloop.counter }}">Delete</button>
                            </form>
                            <div class="modal fade" id="deletePopUp{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="deletePopUp" tabindex="-1" role="dialog" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header d-flex justify-content-center">
                                    <h3 class="modal-title">Delete</h3>
                                  </div>
                                  <div class="modal-body">
                                    <div>Apakah anda yakin ingin menghapus item ini?</div>
                                    <div class="d-flex justify-content-center m-3">
                                    <div class="pi-draggable btn-group mr-2" draggable="true"> <a href="{% url 'item:delete_item' nama=i.nama %}" class="btn btn-danger">Iya</a></div>
                                    <div class="pi-draggable btn-group" draggable="true"> <a href="#" class="btn btn-primary">Tidak</a></div>
                                    </div>
                                  </div>
                                </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </div>
                    {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <ul class="pagination">
            <li class="page-item"> <a class="page-link" href="#"> <span>«</span></a> </li>
            <li class="page-item active"> <a class="page-link" href="#">1</a> </li>
            <li class="page-item"> <a class="page-link" href="#">2</a> </li>
            <li class="page-item"> <a class="page-link" href="#">3</a> </li>
            <li class="page-item"> <a class="page-link" href="#">4</a> </li>
            <li class="page-item"> <a class="page-link" href="#"> <span>»</span></a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Action From-->
  <!-- Modal Register-->
  <div class="modal fade" id="viewPopUp" tabindex="-1" role="dialog" aria-labelledby="viewPopUp" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-center">
          <h3 class="modal-title">View</h3>
        </div>
        <div class="modal-body text-center d-flex justify-content-center">
          <div class="btn-group-vertical">
            <div>
              <form class="mb-2 mt-2" action=#>
                <button class="btn btn-primary">Yes</button>
              </form>
              <form>
                <button class="btn btn-primary" formaction=#>No</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal-->
  <!-- Modal Register-->
  <!-- JavaScript dependencies -->
  <!-- Script: Smooth scrolling between anchors in the same page -->
</body>
{% endblock content %}