{% extends 'layout/base.html' %}

{% load static %}
{% load staticfiles %}

{% block title %}
Add Item
{% endblock title %}

{% block css %}

{% endblock css %}

{% block content %}
<body class="h-100 w-100">
  <div class="py-5 text-center section-dark" style="	background-image: url(&quot;https://www.smeportal.sg/content/tech-depot/en/tech-solutions/data-analytics/collection-delivery-management-system-cdms/_jcr_content/topContent/image.img.jpg/1520986706766.jpg&quot;);	background-size: cover;	background-position: top left;	background-repeat: repeat;">
    <div class="container">
      <div class="row">
        <div class="bg-white p-5 my-5 mx-auto col-6 col-md-7 border" style="border-radius: 24px">
          <h1 class="mb-4 text-primary">Create New Item</h1>
          <form method="POST" action="{% url 'item:add_item' %}">
          	{% csrf_token %}
            <div class="form-group"><label class="text-muted">Nama</label>
              <div class="input-group"><input type="text" class="form-control" name="nama_item" id="nama_item" placeholder="ex: nama"></div>
            </div>
            <div class="form-group"><label class="text-muted">Deskripsi</label>
              <div class="input-group"><input type="text" class="form-control" name="deskripsi" id="deskripsi" placeholder="deskripsi item">
              </div>
            </div>
            <div class="form-group"><label class="text-muted">Rentang Usia</label>
              <div class="input-group"><input type="text" class="form-control" name="rentang_usia" id="rentang_usia" placeholder="ex: 5 - 10"></div>
            </div>
            <div class="form-group"><label class="text-muted">Bahan</label>
              <div class="input-group"><input type="text" class="form-control" name="bahan" id="bahan" placeholder="Nama bahan"></div>
            </div>
            <div class="form-group"><label class="text-muted text-left">Kategori</label><select class="custom-select">
                <option selected="">Choose category</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</body>
{% endblock content %}