{% extends 'layout/base.html' %}

{% load static %}
{% load staticfiles %}

{% block title %}
Add Item
{% endblock title %}

{% block css %}

{% endblock css %}

{% block content %}
<body class="h-100 w-100">
  <div class="py-5 text-center section-dark" style="	background-image: url(&quot;https://www.smeportal.sg/content/tech-depot/en/tech-solutions/data-analytics/collection-delivery-management-system-cdms/_jcr_content/topContent/image.img.jpg/1520986706766.jpg&quot;);	background-size: cover;	background-position: top left;	background-repeat: repeat;">
    <div class="container">
      <div class="row">
        <div class="bg-white p-5 my-5 mx-auto col-6 col-md-7 border" style="border-radius: 24px">
          <h1 class="mb-4 text-primary">Create New Item</h1>
          <form method="POST" action="{% url 'item:add_item' %}">
          	{% csrf_token %}
            {% for x in item %}
            <div class="form-group"><label class="text-muted">Nama</label>
              <div class="input-group"><input type="text" class="form-control" name="nama_item" id="nama_item" value="{{ x.nama }}"></div>
            </div>
            <div class="form-group"><label class="text-muted">Deskripsi</label>
              <div class="input-group"><input type="text" class="form-control" name="deskripsi" id="deskripsi" value="{{ x.deskripsi }}">
              </div>
            </div>
            <div class="form-group"><label class="text-muted">Rentang Usia</label>
              <div class="input-group"><input type="text" class="form-control" name="rentang_usia" id="rentang_usia" value="{{ x.rentang_usia }}"></div>
            </div>
            <div class="form-group"><label class="text-muted">Bahan</label>
              <div class="input-group"><input type="text" class="form-control" name="bahan" id="bahan" value="{{ x.bahan }}"></div>
            </div>
            <div class="form-group"><label class="text-muted text-left">Kategori</label>
              <div class="input-group"><input type="text" class="form-control" name="kategori" id="kategori" value="kategori"></div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            {% endfor %}
          </form>

        </div>
      </div>
    </div>
  </div>
</body>
{% endblock content %}