*{
  box-sizing: border-box;
}

#landing{
  background-image: url(../images/susan-holt-simpson-799094-unsplash.jpg );
  background-position: top left;	background-size: 100%;	background-repeat: repeat;
}

#abouttoys{
  background-image: url(../images/iker-urteaga-246955-unsplash.jpg);	
  background-position: top left;	background-size: 100%;	background-repeat: repeat;
}

img {
  filter: grayscale(100%);
  border-radius: 50%;
  object-fit: cover;
  
  width: 300px;
  height: 300px;
  
}

img:hover {
  filter: grayscale(0%);
}

@media screen and (max-width: 630px){
  img {
    width: 200px;
    height: 200px;
  }
}
