{% load static %}
{% if request.session.role == 'admin' %}
  <nav class="navbar navbar-expand-md fixed-top bg-dark navbar-dark">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbar2SupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Item&nbsp;</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> <a class="dropdown-item" href="{% url 'item:add_item' %}">Tambah Item</a><a class="dropdown-item" href="{% url 'item:display_item' %}">Daftar Item</a> </div>
            </li>
            <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Barang&nbsp;</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> <a class="dropdown-item" href="{% url 'barang:create_barang' %}">Tambah Barang</a> <a class="dropdown-item" href="{% url 'barang:daftar_barang' %}">Daftar Barang</a> </div>
            </li>
            <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Level&nbsp;</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> <a class="dropdown-item" href="{% url 'level:createlevel' %}">Tambah Level</a> <a class="dropdown-item" href="{% url 'level:daftarlevel' %}">Daftar Level</a> </div>
            </li>
            <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pesanan&nbsp;</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> <a class="dropdown-item" href="{% url 'pesanan:pesanan_admin' %}">Buat Pesanan</a> <a class="dropdown-item" href="{% url 'pesanan:pesanan_admin' %}">Daftar Pesanan</a> </div>
            </li>
            <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pengiriman&nbsp;</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> <a class="dropdown-item" href="{% url 'pengiriman:add_pengiriman' %}">Buat Pengiriman</a> <a class="dropdown-item" href="{% url 'pengiriman:daftar_pengiriman' %}">Daftar Pengiriman</a> </div>
            </li>
            <li class="nav-item mx-2" style="">
              <a class="nav-link" href="{% url 'chat:list-chat' %}">Chat</a>
            </li>
            <li class="nav-item mx-2" style="">
              <a class="nav-link" href="{% url 'pengiriman:daftar_review' %}">Review</a>
            </li>
            <a class="btn navbar-btn mx-2 text-white btn-outline-light" href="{% url 'login:logout' %}">Logout</a>
          </ul>
        </div>
      </div>
    </nav>
{% else %}
  <nav class="navbar navbar-expand-md fixed-top bg-dark navbar-dark">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbar2SupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item mx-2" style="">
              <a class="nav-link" href="{% url 'item:display_item' %}">Daftar Item</a>
            </li>
            <li class="nav-item mx-2" style="">
              <a class="nav-link" href="{% url 'barang:daftar_barang' %}">Daftar Barang</a>
            </li>
            <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pesanan&nbsp;</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> <a class="dropdown-item" href="{% url 'pesanan:pesanan_anggota' %}">Buat Pesanan</a> <a class="dropdown-item" href="{% url 'pesanan:daftar_pesanan_anggota' %}">Daftar Pesanan</a> </div>
            </li>
            <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pengiriman&nbsp;</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> <a class="dropdown-item" href="{% url 'pengiriman:add_pengiriman' %}">Buat Pengiriman</a> <a class="dropdown-item" href="{% url 'pengiriman:daftar_pengiriman' %}">Daftar Pengiriman</a> </div>
            </li>
            <li class="nav-item mx-2" style="">
              <a class="nav-link" href="{% url 'chat:chat' %}">Chat</a>
            </li>
            <li class="nav-item mx-2" style="">
              <a class="nav-link" href="{% url 'pengiriman:daftar_review' %}">Review</a>
            </li><a class="btn navbar-btn mx-2 text-white btn-outline-light" href="{% url 'login:logout' %}">Logout</a>
          </ul>
        </div>
      </nav>

  {% endif %}