{% extends 'layout/base.html' %} {% load static %} {% block title %} Homepage {% endblock title %} {% block css %} {% endblock css %} {% block content %}


<body class="text-center">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md fixed-top bg-dark navbar-dark">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbar2SupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home&nbsp;</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> <a class="dropdown-item" href="#">About</a> <a class="dropdown-item" href="#">Gallery</a> <a class="dropdown-item" href="#" contenteditable="true">Team</a> </div>
                    </li>
                </ul>
                <a class="btn navbar-btn mx-2 text-white btn-outline-light" data-toggle="modal" data-target="#exampleModalCenter">Register now</a><a class="btn navbar-btn mx-2 text-white btn-outline-light" data-toggle="modal" data-target="#loginPopUp">Login</a>
            </div>
        </div>
    </nav>




    <!-- Action From-->
    <!-- Modal Login-->
    <div class="modal fade" id="loginPopUp" tabindex="-11" role="dialog" aria-labelledby="loginPopUp" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-center">
                    <h3 class="modal-title">Login</h3>
                </div>
                <div class="modal-body">
                    <form id="regist" method="POST" action="{% url 'login:auth' %}">
                        {% csrf_token %} {{login}}
                        <div class="mt-3 d-flex justify-content-end">
                            <button class="btn btn-primary">Sign In</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-start">
                    <div>Don't you have an account? <a href="#" data-toggle="modal" data-target="#exampleModalCenter">Sign Up</a></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Register-->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-center">
                    <h3 class="modal-title">Pick the Role</h3>
                </div>
                <div class="modal-body text-center d-flex justify-content-center">
                    <div class="btn-group-vertical">
                        <div>
                            <form class="mb-2 mt-2" action="{% url 'main:admin' %}">
                                <button class="btn btn-primary">Admin</button>
                            </form>
                            <form>
                                <button class="btn btn-primary" formaction="{% url 'main:anggota' %}">Anggota</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Cover -->
    <div class="d-flex align-items-center py-5 cover section-dark" id="landing">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-white mt-5">
                    <h1 class="display-2 d-none d-md-block" style="	text-shadow: 0px 3px 4px black;">Want to rent some toys?</h1>
                    <h1 class="display-4 d-block d-md-none">Conference Pingendo</h1>
                    <a class="btn btn-lg btn-outline-light mx-2 mt-4" data-toggle="modal" data-target="#loginPopUp">Login</a>
                    <a data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-lg btn-outline-light mt-4 mx-2">Register</a><i class="d-block fa fa-angle-down pt-5 fa-3x"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- Parallax section -->
    <div class="py-5 section-parallax" id="abouttoys">
        <div class="container my-5 bg-light p-4">
            <div class="row mx-auto">
                <div class="col-md-12">
                    <h1 class="mb-3">About Toys Rent</h1>
                    <p class="">We are a couple of people&nbsp; who loves&nbsp; toys as much as you do.&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5 section bg-faded bg-light" style="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="mb-4">Our Top Priorities</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-6">
                    <img class="center-block img-fluid d-block" src="{% static 'images/teddy-bear.svg' %}">

                    <h5 class=""><b>High Quality</b></h5>
                </div>
                <div class="col-md-3 col-6">
                    <img class="center-block img-fluid d-block" src="{% static 'images/credit-card.svg' %}">
                    <h5 class=""><b>Easy Payment</b></h5>
                </div>
                <div class="col-md-3 col-6">
                    <img class="center-block img-fluid d-block" src="{% static 'images/car.svg' %}">
                    <h5 class=""><b>Fast Delivery</b></h5>
                </div>
                <div class="col-md-3 col-6">
                    <img class="center-block img-fluid d-block" src="{% static 'images/smile.svg' %}">
                    <h5 class=""><b>Happy Customers</b></h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Speakers -->
    <!-- Sponsor logos -->
    <div class="py-5 bg-light" id="speakers">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1 contenteditable="true"><b>Team</b></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-4 animate-in-left col-lg-3" id="team">
                    <a href="#">
                        <img id="team" src="{% static 'images/alis.jpg' %}" class="center-block my-3 rounded-circle" width="300">
                        <h3 class="mb-0"><b>Alya Isti Safira</b></h3>
                        <p class="text-muted">Front-end Developer</p>
                    </a>
                </div>
                <div class="col-6 col-lg-3">
                    <a href="#">
                        <img id="team" src="{% static 'images/clarisa.jpg' %}" class="center-block my-3 rounded-circle" width="300">
                        <h3 class="mb-0"><b>Clarisa Mirah Sekarsari</b></h3>
                        <p class="text-muted">Front-end Developer</p>
                    </a>
                </div>
                <div class="col-6 animate-in-right col-lg-3">
                    <a href="#">
                        <img id="team" src="{% static 'images/lutfi.jpg' %}" class="center-block my-3 rounded-circle" width="300">
                        <h3 class="mb-0"><b>Muhammad Lutfi Arif</b></h3>
                        <p class="text-muted">Back-end Developer</p>
                    </a>
                </div>
                <div class="animate-in-left col-4 col-lg-3" style="">
                    <a href="#">
                        <img id="team" src="{% static 'images/fandy.jpg' %}" class="center-block my-3 rounded-circle" width="300">
                        <h3 class="mb-0"><b>Nur Rifandy</b></h3>
                        <p class="text-muted">Back-end developer</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Call to action -->
    <div class="py-5 section-aquamarine" id="register">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-md-left text-center">
                    <h1 class="text-white">Testimonies</h1>
                    <p>Pre-register to get a priority access to the event. Fares will be published later on.&nbsp; <br>Get the maximum from the lectures together with the possibility of joining exclusive side-events.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
</body>

{% endblock content %}