{% load static %}

{% block title %}

{% endblock title %}

{% block css %}

{% endblock css %}

{% block content %}
<header>
  <title>Toys Rent - Register Anggota</title>
</header>
<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-md fixed-top bg-dark navbar-dark">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbar2SupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home&nbsp;</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> <a class="dropdown-item" href="#">About</a> <a class="dropdown-item" href="#">Gallery</a> <a class="dropdown-item" href="#" contenteditable="true">Team</a> </div>
          </li>
        </ul>
        <a class="btn navbar-btn mx-2 text-white btn-outline-light" data-toggle="modal" data-target="#exampleModalCenter">Register now</a><a class="btn navbar-btn mx-2 text-white btn-outline-light" data-toggle="modal" data-target="#loginPopUp">Login</a>
      </div>
    </div>
  </nav>

  <!-- Action From-->
  <!-- Modal Login-->
  <div class="modal fade" id="loginPopUp" tabindex="-1" role="dialog" aria-labelledby="loginPopUp" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-center">
          <h3 class="modal-title">Login</h3>
        </div>
        <div class="modal-body">
          <form id="regist" method="POST" action="{% url 'login:auth' %}">
            {% csrf_token %}
            {{login}}
            <div class="mt-3 d-flex justify-content-end">
              <button class="btn btn-primary">Sign In</button>
            </div>
          </form>
        </div>
        <div class="modal-footer d-flex justify-content-start">
          <div>Don't you have an account? <a href="#">Sign Up</a></div>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal Register-->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-center">
          <h3 class="modal-title">Pick the Role</h3>
        </div>
        <div class="modal-body text-center d-flex justify-content-center">
          <div class="btn-group-vertical">
            <div>
              <form class="mb-2 mt-2" action="{% url 'main:admin' %}">
                <button class="btn btn-primary">Admin</button>
              </form>
              <form>
                <button class="btn btn-primary" formaction="{% url 'main:anggota' %}">Anggota</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content -->
	<div class="container pt-5 pb-5 mb-5">
    <div class="h1 text-center p-3">REGISTER</div>
		<div class="row align-items-center h-100">
			<div class="col-lg-4"></div>
			<div class="col-lg-4 mx-auto border p-3 mb-5" style="border-radius: 12px;">
				<form id="regist" method="POST" action="{% url 'main:register_anggota' %}">
    			{% csrf_token %}
    			{{regis.as_p}}
    				<div class="mt-3 d-flex justify-content-end">
						<button class="btn btn-primary">Sign Up</button>
					</div>
				</form>
			</div>
			<div class="col-lg-4"></div>
		</div>
	</div>


<link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">

<link href="{% static 'css/base.css'%}" rel="stylesheet" type="text/css">
<link href="{% static 'css/header.css'%}" rel="stylesheet" type="text/css">
<link href="{% static 'css/footer.css'%}" rel="stylesheet" type="text/css">
<link href="{% static 'css/aquamarine.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/landing.css' %}" rel="stylesheet" type="text/css">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>
{% endblock content %}
